 body{
   background-color: yellow;
 }

.container{
    margin: auto;
    padding: 20px;
/* color: white; */
width: 350px;
height: 500px;



background-color:white;

border-radius: 15px;
box-shadow:8px 8px 0px black;


}
.container:hover{
   box-shadow:15px 15px 0px black; 
}

.box{
   margin-top: 60px;
display: flex;
}
button{
border-radius: 6px;
height: 30px;
width: 80px;
background-color: rgb(246, 250, 5);

}
.img{

    border-radius:7px ;
}